<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>subscription.plus</key>
	<string>🙂</string>
	<key>subscription.pro</key>
	<string>😄</string>
	<key>subscription.max</key>
	<string>😎</string>
	<key>subscription.ultra</key>
	<string>🤩</string>
</dict>
</plist>
